.main-container {
    box-sizing: border-box;
    text-align: center;
    width: 334px;
    height: 259px;
    background: #F7F7F7;
    border-radius: 9px;
    padding: 28px 4px;
    margin: 10px auto;
}

.content {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.div1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.div2 {
    margin: 6px 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #E97000;
}
.div3 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}


.top-button {
    width: 69.76px;
    height: 35.44px;
    margin: 4px 3px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-button.selected {
    background: linear-gradient(94.33deg, #FF8412 22.44%, #FF8412 22.45%, #B1008A 124.46%);
    color: #FFFFFF;
}

.top-button.selected:hover {
    background-color: #d9480f;
}

.img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.img-date {
    display: flex;
    padding: 1rem 0px;
    align-items: center;
    justify-content: space-around;
}


.bottom-button {
    margin: 6px 4px;
    padding: 10px 6px;
    width: 6.3rem;
    border: none;
    font-size: 0.7rem;
    border-radius: 50px;
    cursor: pointer;
}

.bottom-button.color {
    background: linear-gradient(94.33deg, #850168 0%, #353862 100%);
    color: white;
}

.btn1 {
    width: 105px;
    height: 35px;
}

.btn2 {
    width: 89px;
    height: 35px;
}

.btn3 {
    width: 89px;
    height: 32px;
}

.bottom-button.normal {
    background-color: #ced4da;
}