body {
  background-color: lightgray;
}


.app-container {
  background-color: #FFFFFF;
  width: 380px;
  height: 780px;
  margin: 0px auto;
  border-radius: 0px 15px;
}

.back-button-container {
  text-align: center;
}

.back-button {
  width: 341px;
  height: 49px;
  padding: 12px;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: #EDEDED;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}