* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #e9ecef;
  width: 380px;
  margin: 0px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.back-button-container {
  text-align: center;
}

.back-button {
  padding: 12px;
  width: 80%;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: #dee2e6;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}